.footer {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #212121;
  padding: 60px 0;
}

.footer__copyright {
  margin: 0;
  opacity: 0.7;
}
